@font-face {
    font-family: "MaterialIcons";
    src: url("../assets/MaterialIcons-Regular.eot");
    src: url("../assets/MaterialIcons-Regular.woff") format("woff");
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.material-icon {
    font-family: "MaterialIcons";
}

.small {
    font-size: 24px;
}

.large {
    font-size: 36px;
}

.content {
    display: grid;
    grid-template-rows: 50px auto;
    height: 100vh;
}

.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 0;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px rgba(192, 192, 192, 0.8);
    position: fixed;
    z-index: 1;
    background-color: white;
}

.main-content {
    display: grid;
    grid-template-columns: 200px auto;
    width: 100vw;
    margin-top: 50px;
}

.top-nav li {
    float: right;
}

.top-nav li a {
    display: block;
    padding: 0 10px 0 10px;
    line-height: 50px;
}

.brand-name {
    float: left;
    display: block;
    padding: 0 10px 0 25px;
    line-height: 50px;
}

.sidebar {
    margin: 0;
    padding: 25px 0 0 0;
    height: 100vh;
    width: 200px;
    position: fixed;
    overflow: auto;
    /* box-shadow: 1px 1px rgba(192, 192, 192, 0.8); */
}

.menu-item {
    height: 50px;
    width: inherit;
    color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 5px;
    line-height: 50px;
    grid-template-columns: 70px auto;
    display: grid;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item-icon {
    padding: 0 10px 0 25px;
    font-size: 25px;
}

.menu-item-text {
    margin: 0;
    padding: 2px 0 0 0;
    font-weight: bold;
}

.container {
    padding: 25px 0 0 25px;
}

/* Colors */
.white-text {
    color: white;
}

.red {
    background-color: #f4443e;
}

.blue {
    background-color: #2196f3;
}

.green {
    background-color: #4caf50;
}

.btn {
    border-radius: 5px;
    height: 35px;
    width: 90px;
    border: 0;
    text-transform: uppercase;
    color: white;
}

.btn-round {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 0;
    color: white;
}

.form-field {
    display: block;
    margin-bottom: 16px;
}

.form-field__label {
    font-size: 0.75rem;
    transform: translateY(-14px);
    display: block;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 18px 12px 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: 100%;
}

.form-field__control {
    background: #eee;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.form-field__bar {
    border-bottom: 2px solid #2196f3;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all 0.4s;
    width: 1%;
}

.form-field__input, .form-field__textarea {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999;
    color: #333;
    display: block;
    font-size: 1.2rem;
    margin-top: 24px;
    outline: 0;
    padding: 0 12px 10px 12px;
    width: 100%;
}

.form-field__input:-ms-input-placeholder ~ .form-field__label, .form__fieldtextarea:-ms-input-placeholder ~ .form-field__label {
    font-size: 1.2rem;
    transform: translateY(0);
}

.form-field__input:placeholder-shown ~ .form-field__label, .form__fieldtextarea:placeholder-shown ~ .form-field__label {
    font-size: 1.2rem;
    transform: translateY(0);
}

.form-field__input:focus ~ .form-field__label, .form-field__textarea:focus ~ .form-field__label {
    color: #2196f3;
    font-size: 0.75rem;
    transform: translateY(-14px);
}

.form-field__input:focus ~ .form-field__bar, .form-field__textarea:focus ~ .form-field__bar {
    border-bottom: 2px solid #2196f3;
    transform: scaleX(150);
}

.form-field__textarea {
    height: 150px;
}

.form {
    width: 500px;
}

.splitForm {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.subform {
    padding: 20px;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    border-radius: 15px;
}

.modal-header {
    padding: 2px 16px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-body {
    padding: 2px 16px;
}

.close {
    margin-top: 10px;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.inline-h1 {
    display: inline-block;
}

.link-list {
    text-decoration: underline;
}

#base64Image, #longitude, #latitude {
    display: none;
}

#map {
    width: 500px;
    height: 400px;
    border: 1px rgba(192, 192, 192, 0.8) solid;
}

#map p {
    transform: translate(200px, 170px);
    display: inline;
}

#createEventForm1 {
    margin-top: -19px;
    padding-top: 20px;
}

#createEventForm2 {
    margin-top: -19px;
    padding-left: 25px;
}

#team_spirit {
    width: 500px;
    transform: translate(80px, 100px);
}

#loginForm {
    margin-top: 120px;
    height: 70vh;
}

#employees_container {
    height: 70vh;
    width: 60vw;
}

#export-btn {
    color: white;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    display: inline;
}

#export-btn:hover {
    cursor: pointer;
}

#ongoing_container, #past_container {
    height: 70vh;
    width: 75vw;
}

#display_name {
    padding-right: 32px;
}